<header>
  <div class= "header-logo">
   <a href= "/">SHRE CAFE</a>
  </div>
  <ul class= "header-menus">
   <li>
    <a href= "about">SHARE CAFEとは</a>
   </li>
  </ul>
</header>
<div class = "main top-main">
  <div class = "top-message">
    <h1>discover and share </h1>
    <p>お気に入りのカフェをシェアしよう・見つけよう</p>
  </div>
</div>

